.CallTools {
  margin-bottom: 20px;

  .metronome {
    width: 100%;
    margin-bottom: 20px;
  }

  .timer-text {
    font-size: 30px;
  }

  .riskStat {
    color: #09AC10;
    margin-left: 20px;
    margin-bottom: 0px;
  }
}
