.CallReport {
  height: 100%;
  display: flex;
  flex-direction: column;

  .container-fluid {
    height: 100%;
  }

  .header-row {
    margin-bottom: 10px;

    .title {
      font-weight: bold;
      font-size: 24px;
    }

    .submit-report {
      text-align: right;

      .submit-report-button {
        background-color: #8CBAFF;
        color: black;
      }

      .submit-report-button:active {
        background-color: #8CBAFF;
        color: black;
        outline: none;
      }
    }
  }

  .report-row {
    height: 100%;
    display: flex;
    flex: 1;
    .col {
      display: flex;
      flex-direction: column;
    }
  }
}
