.InformationForm {
  height: 100%;
  overflow-y: auto;

  .information-form {
    height: 0px; // required so form doesn't bleed across divs

    padding: 10px;
    .phone-number-flex-input {
      display: flex;
      flex-direction: row;

      .phone-text-input {
        width: 80px;
        margin-right: 10px;
      }
    }

    #notes {
      height: 100px;
    }
  }
}
