.InformationForm {
  .time-container {
    .time-flex-input {
      display: flex;
      flex-direction: row;

      .now-time-button {
        margin-left: 5px;
        background-color: #B4DCF2; 
        color: black;
      }

      .now-time-button:active {
        background-color: #B4DCF2; 
        color: black;
      }
    }
  }

  .caller-information {
    background-color: #7FC7EF;
    padding: 10px;
    .phone-number-flex-input {
      display: flex;
      flex-direction: row;

      .phone-text-input {
        width: 100px;
        margin-right: 10px;
      }
    }
  }
}
