.ProtocolFormCard {
  height: 100%;

  .card-body {
    overflow-y: auto;

    // slightly hacky to fix form scroll
    max-height: 600px;

    .is-victim-breathing-form-group {
      display: flex;
      flex-direction: column;

      .is-victim-breathing-button-group {
        display: inline;
      }
    }
  }
}
