@import "~bootstrap/scss/bootstrap";
$sidebar-bg-color: #8CBAFF;
$sidebar-color: black;
$highlight-color: black;
@import "~react-pro-sidebar/dist/scss/styles.scss";

.App {
  height: 100%;
  width: 100%;
  display: flex;

  .app-row {
    height: 100%;
    width: 100%;
    display: flex;

    .pro-sidebar-layout {
      height: 100%;
      display: flex;
      flex-direction: column;
      .pro-sidebar-header {
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        background-color: white;
        font-size: 30px;
        font-weight: bold;
      }

      .pro-sidebar-content {
        .pro-menu {
          padding-right: 50px;
          padding-left: 20px;
          .active {
            background-color: white;
          }
        }
      }
    }

    .content {
      height: 100%;
      display: flex;
      padding-top: 40px;
      padding-bottom: 20px;
    }
  }
}
